@font-face {
  font-family: "Cartridge";
  font-weight: normal;
  font-style: normal;
  src: url("/fonts/Cartridge-Regular.otf") format("opentype"),
    url("/fonts/Cartridge-Regular.woff2") format("woff2"),
    url("/fonts/Cartridge-Regular.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Cartridge";
  font-weight: bold;
  font-style: normal;
  src: url("/fonts/Cartridge-Bold.otf") format("opentype"),
    url("/fonts/Cartridge-Bold.woff2") format("woff2"),
    url("/fonts/Cartridge-Bold.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "iA Writer Mono";
  font-weight: normal;
  font-style: normal;
  src: url("/fonts/iAWriterMonoS-Regular.eot") format("embedded-opentype"),
    url("/fonts/iAWriterMonoS-Regular.woff2") format("woff2"),
    url("/fonts/iAWriterMonoS-Regular.woff") format("woff");
  font-display: swap;
}


:root {
	--teksti: #162622;
	--linkit: #e13f20;
	--linkit_vierailtu: #6496c1;
	--tausta: #f5f4f2;
	--font-stack-mono: "iA Writer Mono", monospace;
  --font-stack-sans: "Avenir Next", Avenir, "-apple-system", BlinkMacSystemFont, "helvetica neue", Helvetica, Arial, sans-serif;
	--font-stack-titles: Cartridge, var(--font-stack-sans);
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
	:root {
		--teksti: #b9bfc6;
		--linkit: #72A9D4;
		--linkit_vierailtu: #7a9bb7;
		--tausta: #111920;
	}
}

*, *::before, *::after {
  box-sizing: border-box;
}

html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
	overflow-y: scroll;
	min-height: 100%;
}

html, body {
  height: 100%;
}

body {
  line-height: 1.5;
}

figure, img, picture, video, canvas, svg, .h-entry figure img, .h-entry img {
  display: block;
  max-width: 100%;
  height: auto;
	margin: 0;
	margin-bottom: 2rem;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
	margin-top: 0;
}

h1, h2, h3, h4, h5, h6 {
	font-family: var(--font-stack-titles);
}

b, strong {
  font-weight: 700;
}

a {
	color: var(--linkit);
}

em {
  font-style: italic;
}

time {
	font-family: var(--font-stack-mono);
}

small,
sub,
sup,
.small {
  font-size: 0.9em;
}

html {
  font-size: 62.5%;
  overflow-y: scroll;
	font-family: var(--font-stack-sans);
}

body {
	line-height: 1.8;
  font-weight: 400;
  min-height: 100%;
  font-size: 1.6rem;
	background-color: var(--tausta);
}

.container {
	width: 100%;
	max-width: 1140px;
	padding: 0 6em;
	background: #fff;
	margin: 0 auto;
}

.main-content {
	display: flex;
	justify-content: space-between;
	gap: 5%;
}

.main-content .posts-list {
	width: 75%;
}

.main-content .sidebar {
	width: 20%;
}

/* Header and footer */

.site-header {
	margin: 0 auto 3em;
  padding: 3em 1.5em 3rem 1.5em;
  border-bottom: 1px solid #423a2a;
	display: flex;
	justify-content: space-between;
}

.site-header, .site-meta {
	display: flex;
	align-items: center;
	gap: 1rem;
}

.site-meta {
	text-decoration: none;
	align-items: center;
	line-height: 1.4;
}

.site-meta .profile-photo{
	width: 50px;
	height: auto;
}
.site-meta h1 {
	font-weight: bold;
	font-size: 1.5rem;
	margin: 0;
}

.site-description {
	font-size: 1.5rem;
}

.site-meta a {
	text-decoration: none;
	color: inherit;
}

.site-nav {
	text-transform: uppercase;
}

.site-nav ul li {
	display: inline;
	margin-left: 1em;
	font-size: .85em;
}

.site-nav a {
	text-decoration: none;
	border-bottom: 2px solid var(--linkit);
}

.site-footer {

}

/* Home page posts listing */

.post-list {
	list-style: none;
	padding: 0;
}

.post-preview.h-entry {
	display: flex;
	gap: 4rem;
}

.posts.h-feed .sidebar {
	flex: 1;
}

.post-preview.h-entry .post-meta {
	flex: 0 0 30%;
}

.post-preview.h-entry .e-content {
	flex: 1;
}

.post-preview.h-entry .post-title {
	font-size: 1.75em;
	margin-bottom: .5em;
	line-height: 1.33em;
}

.post-preview.h-entry .post-title a {
	text-decoration: none;
	color: var(--teksti);
}

.post-preview.h-entry .post-title a:hover {
	color: var(--linkit);
	text-decoration: underline;
}

.post-preview.h-entry .post-date {
	font-family: var(--font-stack-mono);
	color: inherit;
	text-decoration: none;
	font-size: 0.85em;
}

/* Sidebar */

.sidebar {
	font-size: 80%;
}
/* Posts and pages */

.main-content .post.h-entry {
	flex: 0 0 80%;
}

.main-content .sidebar {
	flex: 1;
}

.post.h-entry .post-title {
	font-size: 1.75em;
	margin-bottom: .5em;
	line-height: 1.33em;
}

.post.h-entry .post-date {

}

.post.h-entry .post-content {

}

/* Comments */
.conversation {

}