{{ define "main" }}
  <div class="post h-entry">
    <header class="post-header">
      {{ if .Title }}
      <h1 class="p-name post-title">{{ .Title }}</h1>
      {{ end }}
      <a href="{{ .Permalink }}" class="post-date u-url"><time class="dt-published" datetime="{{ .Date.Format "2006-01-02 15:04:05 -0700" }}">{{ .Date.Format "Jan 2, 2006" }}</time> ∞</a>
    </header>
    <article class="post-content e-content {{ range .Params.categories }} {{ . }}{{ end }}">
      {{ .Content }}
    </article>
    {{ if .Site.Params.include_conversation }}
    {{ $microblog_url := print "https://micro.blog/" .Site.Author.username }}
    <section class="conversation">
      <h3>Comments</h3>
      <p class="join-conversation">Join the conversation on <a href="{{ .Site.BaseURL }}/fediverse">Fediverse</a> or <a href="{{ $microblog_url }}" class="mb-conversation-link">Micro.blog</a>.</p>
    <script>
      const conversationLink = document.querySelector('.mb-conversation-link')
      const currentPageURLEncoded = encodeURIComponent('{{ .Permalink }}')
      fetch('https://micro.blog/conversation.js?format=jsonfeed&url=' + currentPageURLEncoded)
      .then(response => response.json())
      .then(conversation => {
        conversationLink.setAttribute('href', conversation.home_page_url)
      })
      .catch((error) => {})
    </script>
    <script type="text/javascript" src="https://micro.blog/conversation.js?url={{ .Permalink }}"></script>
    </section>
    {{ end }}
  </div>
  <aside class="sidebar">
    {{ partial "sidebar.html" . }}
  </aside>
{{ end }}