<header class="site-header">
  <div class="site-meta">
    <a href="/">
      <img src="{{ .Site.Author.avatar }}" alt="{{ .Site.Title }} Avatar kuva" class="profile-photo u-photo" width="50" height="50">
    </a>
    <div>
      <h1><a class="site-title p-name u-url">Pikseleitä ja Reissu-unelmia</a></h1>
      <a class="site-description">Tarinoita Juhan näppäimistöltä.</a>
    </div>
  </div>
  <nav class="site-nav">
    <ul>
    {{ range .Site.Menus.main }}
      {{ if .Page.Params.redirect_url }}
        <li><a class="page-link {{ .Name }}" href="{{ .Page.Params.redirect_url }}">{{ .Name }}</a></li>
      {{ else }}
        <li><a class="page-link {{ .Name }}" href="{{ .URL | relLangURL | safeURL }}">{{ .Name }}</a></li>
      {{ end }}
    {{ end }}
    </ul>
  </nav>
</header>