{{ define "main" }}
<div class="page-container">
  <div class="posts h-feed" role="main">
    <div class="post-list">
      {{ $paginator := .Paginate (where .Site.Pages.ByDate.Reverse "Type" "post") }}
      {{ range $paginator.Pages  }}
        {{ if .Title }}
          <article class="h-entry">
            <div class="post-meta">
              <h2 class="p-name"><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
              <a href="{{ .Permalink }}" class="u-url">
                <span class="post-meta">
                  <time class="dt-published" datetime="{{ .Date.Format "2006-01-02 15:04:05 -0700" }}">
                    {{ .Date.Format "Jan 2, 2006" }}
                  </time>
                </span>
              </a>
            </div>
            <div class="e-content">
              {{ if gt (len .Content) 590 }}
                {{ .Content | safeHTML | truncate 590 }}
              {{ else }}
                {{ .Content }}
              {{ end }}
            </div>
          </article>
        {{ end }}
      {{ end }}
      </div>
      <div class="post-nav">
        {{ if $paginator.HasPrev }}
        <span class="prev">
            <a href="{{ $paginator.Prev.URL }}" title="Previous Page"><span class="arrow">← Uudemmat artikkelit</span></a>
        </span>
        {{ end }}
        {{ if $paginator.HasNext }}
        <span class="next">
            <a href="{{ $paginator.Next.URL }}"><span class="arrow">Vanhemmat artikkelit →</span></a>
        </span>
        {{ end }}
      </div>
  </div>
  <aside class="sidebar">
    {{ partial "sidebar.html" . }}
  </aside>
</div>
{{ end }}